.lightDevices {
    display: flex;
    flex-direction: column;
    width: 100%;

    .device {
        display: flex;
        align-items: center;
        width: 100%;

        > div {
            &:nth-of-type(5n + 1) {
                flex-basis: 20px;
            }

            &:nth-of-type(5n + 2) {
                flex-grow: 1;
            }

            &:nth-of-type(5n + 3),
            &:nth-of-type(5n + 4) {
                flex-basis: 150px;
            }

            &:nth-of-type(5n) {
                flex-basis: 100px;
            }

            &:nth-of-type(5n) button {
                border: none;
                border-radius: 5px;
                outline: none;
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                &.cancel {
                    background-color: red;
                }

                &.edit {
                    background-color: dodgerblue;
                }

                &.save {
                    background-color: limegreen;
                }
            }
        }

        &:nth-of-type(2n + 1) {
            background-color: lightblue;
        }

        &:nth-of-type(2n + 1) {
            background-color: lightcyan;
        }
    }

    .head {
        background-color: dodgerblue;
        font-weight: bold;
    }
}
