section {
    width: 100%;
    max-width: 1280px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 20px;

    h1 {
        font-weight: 500;
        padding: 10px 15px 5px;
        color: rgb(18, 18, 18);
    }

    header {
        display: flex;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 8px 8px 0 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        background-color: #fff;
        box-sizing: border-box;
        height: 40px;

        div {
            background-color: #fff;
            border: none;
            box-shadow: none;
            box-sizing: border-box;
            text-align: center;
            color: rgba(0, 0, 0, 0.54);
            font-size: 14px;
            font-weight: 500;
            height: 38px;
            line-height: 40px;
            margin-left: 0;
            text-transform: uppercase;
        }
    }

    .history {
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            align-items: center;
            width: 100%;

            &.row:nth-of-type(2n) {
                background-color: rgb(223, 246, 255);
            }

            &:nth-of-type(2n + 1) {
                background-color: rgb(242, 255, 255);
            }
        }
    }

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 34px;

        &:nth-of-type(4n + 1) {
            flex-basis: 50px;
            text-align: center;
        }

        &:nth-of-type(4n + 2) {
            flex-grow: 1;
        }

        &:nth-of-type(4n + 3) {
            flex-basis: 150px;
        }

        &:nth-last-of-type(4n + 1) {
            flex-basis: 150px;
        }
    }
}
